@model WebApp.ViewModels.Product.AddProductVM
@{
    ViewData["Title"] = "Index";
}
    <form asp-action="NewProduct" class="col-md-5 form-edit" method="post" enctype="multipart/form-data" asp-controller="Products" asp-antiforgery="true">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Model"></label>
                <input class="form-control" type="text" asp-for="Model" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input class="custom-file-input" name="Files" id="Files" multiple type="file">
                    <label class="custom-file-label" asp-for="Files"></label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                </div>
            </div>
          
            <div class="form-group">
                <label asp-for="PriceBy"></label>
                <input class="form-control" asp-for="PriceBy" />
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select class="form-control" asp-for="BrandId" asp-items="ViewBag.Brands"></select>
            </div>

        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </form>

<style>
    .gallery img {
        width: 125px;
        height: 100px;
        box-shadow: 1px 0px 3px #ccc;
        -webkit-box-shadow: 1px 0px 3px #ccc;
        -moz-box-shadow: 1px 0px 3px #ccc;
        padding: 10px;
    }
</style>
@section scripts{
    <script>
        $(function () {
            // Multiple images preview in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {

                if (input.files) {
                    var filesAmount = input.files.length;

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $('#Files').on('change', function () {
                imagesPreview(this, 'div.gallery');
            });
        });
    </script>
}