@model IEnumerable<WebApp.Models.Product>
@using WebApp.ViewModels.Product
@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        @item.Model
                    </div>
                        
                          
                                @if (item.Photos != null)
                                {
                                    @for (int i = 0; i < item.Photos.Count(); i++)
                                    {
                                        <img class="d-block w-100" src="@Url.Content(item.Photos[i].Path)">
                                    }
                                }
                          
                  
                </div>
            </div>
        }
    </div>
@{await Html.RenderPartialAsync("_SaveProduct", new AddProductVM());}
@section scripts{ 
    <script>
        $('.carousel').carousel();
    </script>
}